# 忽略文件夹
/qt-client/build/
/keil-hardware/DebugConfig/
/keil-hardware/Listings/
/keil-hardware/Objects/

# 忽略文件
/qt-client/remote.pro.user
/keil-hardware/remote-update.uvguix.chenphxx
/keil-hardware/remote-update.uvoptx
